@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Nova Cut", serif;
}

a {
    color: black;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("./assets/library.jpg");
    background-size: cover;
}

.horizontal-container {
    display: flex;
    justify-content: space-around;
}

table,
h1 {
    align-self: center;
}

.credit-container {
    align-self: center;
    text-align: center;
}

h1,
p,
.book-form {
    background-color: rgb(255, 255, 255, 0.85);
}

h1 {
    padding: 15px;
}

table {
    padding: 15px;
    background-color: brown;
}

td {
    text-align: center;
    border: 1px solid black;
    width: 180px;
    height: 50px;
}

.book-form {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 30px;
}

.book-form-inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
}

.book-info-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

button[type="submit"] {
    height: 50px;
    align-self: center;
    padding: 10px;
}

.delete-button {
    flex-shrink: 0;
    flex-grow: 0;
    height: 20px;
    width: 20px;
    border: none;
    background-color: transparent;
    background-image: url("./assets/delete.png");
    background-size: cover;
}

.nonfiction {
    background-color: lightgray;
}

.fiction {
    background-color: lightblue;
}

.anthology {
    background-color: yellow;
}

.biography {
    background-color: lightgreen;
}

.scifi {
    background-color: lightsalmon;
}

.fantasy {
    background-color: lavender;
}

.romance {
    background-color: lightpink;
}

.horror {
    background-color: lightcoral;
}

.historical {
    background-color: tan;
}

.read:after {
    font-style: italic;
}